{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindAttributes": ["classNames"],
  "tailwindFunctions": ["cn", "clsx", "twMerge", "tv"]
}
